/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: var(--e-global-color-7c5ea40);
    background-color: var(--e-global-color-b7c1f52); /* White */
}

#content {
    margin: auto;
    padding-inline: 1.25rem; /* 20px */
}

@media (max-width: 1024px) { /* Tablet y Móvil */
    #content {
        padding-inline: 1rem; /* 16px */
    }
}

mark, ins {
	font-style: normal;
	text-decoration: none;
	border-bottom: none;
}

/*Breadcums*/
.site-breadcrumbs {
    margin:  0;
    margin-inline: 20px;
    max-width: 100%;
}

.site-breadcrumbs .container {
    @media screen and (width >=768px) {
    max-width: 1440px;
    margin-inline: auto;
    padding: 0;
    }
}


.site-breadcrumbs .container .breadcrumbs {
    padding-block: var(--padding-sm);
    width: 100%;
    border: none;
}

.site-breadcrumbs .container .breadcrumbs a, .site-breadcrumbs .container .breadcrumbs span {
    font-family: var(--e-global-typography-c919ceb-font-family), Sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
}

/*iconos heroicons*/
span svg[viewBox="0 0 24 24"] path {
    fill: none !important;
    stroke-width: 1.7px;
}